.navbar-brand img {
    width: 100px;
}

.dropdown-item-favorite {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    display: inline-block;
}

.dropdown-item-favorite:hover {
    color: darkblue;
    text-decoration: none;
}
